/* loading page has a separate css file */

:root {
  --card-background-color: rgb(0, 0, 255, 0.4);
  --hover-card-background-color: rgb(0, 0, 255, 0.3);
  --background-image: url("./assets/images/pokemon_background.jpg");
  --custom-red: red;
  --custom-white: white;
  --custom-gold: #fe9d3a;
}

@font-face {
  font-family: "PressStart2P";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background-image) no-repeat center center fixed;
  background-size: cover;

  padding: 1rem 1.5rem;
  gap: 1rem;
  min-height: 100vh;

  font-family: "PressStart2P", sans-serif;
  /* font-size: 0.9rem; */
}

/* reset Start*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* reset End*/

/* Miscellaneous config */
.game-page-main-container {
  padding: 0;
  margin: 0;

  max-width: 1200px;
  margin: 0 auto;
}
/* ******************** */

/* ******************** */

/* Header config */
/* ************* */
header {
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.1rem;
}

header .red-text {
  color: var(--custom-red);
}
header .white-text {
  color: var(--custom-white);
}
/* ************* */

/* Startpage and Game Over Message config */
/* ************************************** */
button {
  font-size: 0.85rem;

  background: none;
  border: none;
  color: inherit; /* Inherits text color from parent */
  font-size: 16px;
  cursor: pointer;
  outline: none; /* Removes focus outline */

  transition: 0.2s;
}
button:hover {
  scale: 1.1;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
}

.game-over-popup-main-container,
.start-page-main-container {
  background-color: #f8f3f8;
  border-image: url("./assets/images/border_image.png") 42 round;
  border-style: solid;
  border-width: 21px;
  box-shadow: 0 5px 15px #00000059;
  /* color: #181010; */

  /* make it centered on the screen */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.game-over-popup-main-container img,
.start-page-main-container img {
  height: 10rem;
}

.game-over-popup-title,
.game-over-popup-score-message,
.game-title {
  font-size: 1.4rem;
}
/* ************************************** */

/* Cards config */
/* ************ */
.cards-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-flow: wrap;

  justify-content: center;
  align-items: center;
}

.card-container {
  width: 13rem;
  height: 15rem;
  border: 2px solid black;
  background-color: var(--card-background-color);
  text-align: center;
}
.card-container:hover {
  background-color: var(--hover-card-background-color);
  cursor: pointer;
}
.card-image-container {
}
.card-image-container > img {
  width: 100%;
}
/* ************ */

/* Scoreboard config */
/* ***************** */
.scoreboard-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;

  /* padding: 1rem; */
  margin: 0.5rem;
  margin-bottom: 1rem;
}
.current-score-container,
.best-score-container {
  /* display: flex;
  flex-direction: row;
  gap: 0.5rem;

  justify-content: center;
  align-items: center; */
}

.current-score-title,
.best-score-title-container {
  border-bottom: 2px solid black;
}

.best-score-title-container {
  display: flex;
  gap: 0.5rem;
}

.current-score-title,
.best-score-title {
  /* max-width: max-content; */
}

.scoreboard-container img {
  height: 2rem;
  margin-top: -0.5rem;

  display: none;
}

.best-score-value {
  /* font-weight: bold;
  font-size: 1.5; */
  color: var(--custom-gold);
}
/* ***************** */

/* Responsive config */
/* ***************** */

/* ***************** */

@media screen and (min-width: 760px) {
  .scoreboard-container img {
    display: block;
  }

  header {
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.1rem;
  }
}
